In [3]:
import os
import pandas as pd

In [18]:
root = '/data/AlgProj/niezl/TCT/TCT_Data/Misc/TCT0513_部分数据——审批数据/'
data_dir = '/data/AlgProj/niezl/TCT/1_DataBase/20190711/'

In [9]:
dirs = os.listdir(root)

In [10]:
os.listdir(root+dirs[0])

['0513_check_part1.txt', '序列标注结果.csv', '0513_check_part1.csv']

In [11]:
os.listdir(root+dirs[1])

['0513_check_part2.txt', '0513_check_part2.csv', '序列标注结果.csv']

In [37]:
csv1 = pd.read_csv(root+dirs[0]+'/'+'0513_check_part1.csv')
csv2 = pd.read_csv(root+dirs[1]+'/'+'0513_check_part2.csv')

In [38]:
len(csv1) + len(csv2)

2379

In [15]:
csv1['恶性细胞分类(更新)'].value_counts()

1     583
3     297
2      54
4      52
5      25
10      5
6       5
7       2
Name: 恶性细胞分类(更新), dtype: int64

In [17]:
csv2['恶性细胞分类'].value_counts()

1     600
3     392
4     131
2      88
10     69
5      64
6      11
7       1
Name: 恶性细胞分类, dtype: int64

In [21]:
csv1.head()

,影像结果编号,检查号,序列编号,开始时间,提交时间,病灶,影像工具,影像结果,恶性细胞分类(更新)
0,180931,7eadfd40d4c74dafa4e56ab2edf0f07a,ae058119904845bfb35a3103c2594f5c,2019-05-22 16:48:57,2019-05-19 20:18:24,ANNO9,RECTANGLE,"{""point1"":{""x"":1603.1226765799254,""y"":705.1895...",1
1,180938,7eadfd40d4c74dafa4e56ab2edf0f07a,ae058119904845bfb35a3103c2594f5c,2019-05-22 16:48:57,2019-05-19 20:18:24,ANNO9,RECTANGLE,"{""point1"":{""x"":1320.5947955390332,""y"":124.3122...",1
2,180934,7eadfd40d4c74dafa4e56ab2edf0f07a,ae058119904845bfb35a3103c2594f5c,2019-05-22 16:48:57,2019-05-19 20:18:24,ANNO9,RECTANGLE,"{""point1"":{""x"":812.0446096654273,""y"":15.821561...",1
3,180944,7eadfd40d4c74dafa4e56ab2edf0f07a,ae058119904845bfb35a3103c2594f5c,2019-05-22 16:48:57,2019-05-19 20:18:24,ANNO9,RECTANGLE,"{""point1"":{""x"":547.5985130111522,""y"":1073.6059...",1
4,180953,7eadfd40d4c74dafa4e56ab2edf0f07a,ae058119904845bfb35a3103c2594f5c,2019-05-22 16:48:57,2019-05-19 20:18:24,ANNO9,RECTANGLE,"{""point1"":{""x"":443.62825278810396,""y"":1014.840...",1

In [30]:
csv1.loc[6, '影像结果']

'{"point1":{"x":1783.9405204460963,"y":617.0408921933084,"highlight":true,"active":false,"z":74},"point2":{"x":1921.8141263940518,"y":752.6542750929367,"highlight":true,"active":true,"z":74}}'

In [31]:
csv2.head()

,用户手机号,用户姓名,影像结果编号,检查编号,序列编号,开始时间,提交时间,自定义内容,阴阳性,病灶,影像工具,影像结果类型,影像结果,恶性细胞分类
0,13917674112,滕昊华,319844,34180c2a4498438d975dbb4e6d7894dc,7b8747978dc14587bab01790e7799dbe,2019-07-04 20:42:51,2019-07-04 20:49:45,NaN,NaN,ANNO9,RECTANGLE,2,"{""point1"":{""x"":326.0396396396396,""y"":348.36756...",1
1,13917674112,滕昊华,319845,34180c2a4498438d975dbb4e6d7894dc,7b8747978dc14587bab01790e7799dbe,2019-07-04 20:42:51,2019-07-04 20:49:45,NaN,NaN,ANNO9,RECTANGLE,2,"{""point1"":{""x"":1040.3027027027026,""y"":15.33693...",1
2,13917674112,滕昊华,319846,34180c2a4498438d975dbb4e6d7894dc,7b8747978dc14587bab01790e7799dbe,2019-07-04 20:42:51,2019-07-04 20:49:45,NaN,NaN,ANNO9,RECTANGLE,2,"{""point1"":{""x"":514.4648648648648,""y"":1075.7765...",3
3,13917674112,滕昊华,319847,34180c2a4498438d975dbb4e6d7894dc,7b8747978dc14587bab01790e7799dbe,2019-07-04 20:42:51,2019-07-04 20:49:45,NaN,NaN,ANNO9,RECTANGLE,2,"{""point1"":{""x"":873.7873873873873,""y"":815.04864...",3
4,13917674112,滕昊华,319842,34180c2a4498438d975dbb4e6d7894dc,7b8747978dc14587bab01790e7799dbe,2019-07-04 20:42:51,2019-07-04 20:49:45,NaN,NaN,ANNO9,RECTANGLE,2,"{""point1"":{""x"":1741.4198198198196,""y"":17.52792...",1

In [32]:
csv1.rename(columns={'恶性细胞分类(更新)':'恶性细胞分类'}, inplace=True)

In [35]:
csv = csv1.append(csv2, ignore_index=True)

/home/yaoms/anaconda3/envs/PytorchEnv/lib/python3.5/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [36]:
len(csv)

2379

In [40]:
columns = ['序列编号','影像结果', '恶性细胞分类','影像结果编号']
csv_save = csv.loc[:, columns]

In [42]:
csv_save.tail()

,序列编号,影像结果,恶性细胞分类,影像结果编号
2374,06d40c98aa124d278eb9422b2bc0d3d8,"{""point1"":{""x"":414.5103448275862,""y"":46.124137...",1,332260
2375,06d40c98aa124d278eb9422b2bc0d3d8,"{""point1"":{""x"":137.7655172413793,""y"":324.96551...",1,332257
2376,06d40c98aa124d278eb9422b2bc0d3d8,"{""point1"":{""x"":5.682758620689668,""y"":272.55172...",1,332256
2377,06d40c98aa124d278eb9422b2bc0d3d8,"{""point1"":{""x"":43.42068965517245,""y"":475.91724...",1,332259
2378,06d40c98aa124d278eb9422b2bc0d3d8,"{""point1"":{""x"":695.4482758620691,""y"":197.07586...",1,332258

In [43]:
csv_save.to_csv('/data/AlgProj/tct_yaoms/data/tct_0513/'+'label.csv', index=False)