In [1]:
import sys
sys.executable

'/home/yaoms/anaconda3/envs/PytorchEnv/bin/python'

In [2]:
import sys
import torch
import torchvision
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import torch.nn.functional as F
import torch.nn as nn
import torch.optim as optim
from PIL import Image
import torchvision.transforms as transforms
import os
import cv2
from torch.utils.data import DataLoader, TensorDataset, Dataset

%load_ext autoreload
%autoreload 2
%matplotlib inline

In [3]:
#hyperparameters 

IMG_SIZE = 224
BATCH_SIZE = 32

In [7]:
#dir and path

csv_path = '/data/AlgProj/tct_yaoms/data/tct_0702_preprocess_iou0.1_img_series/iou0.1dataaumentation.csv'
csv = pd.read_csv(csv_path)

In [9]:
csv.sample(frac=1).reset_.head(10)

,img_name,label,img_path
3414,283196_1.jpg,4,/data/AlgProj/tct_yaoms/data/tct_0702_preproce...
2681,302660_0.jpg,4,/data/AlgProj/tct_yaoms/data/tct_0702_preproce...
1932,284170_1.jpg,2,/data/AlgProj/tct_yaoms/data/tct_0702_preproce...
1087,bd535ced6c384b99b9af961e082fd703_167_3.jpg,0,/data/AlgProj/tct_yaoms/data/neg/bd535ced6c384...
1605,301897_1.jpg,6,/data/AlgProj/tct_yaoms/data/tct_0702_preproce...
2503,291394_64.jpg,7,/data/AlgProj/tct_yaoms/data/tct_0702_preproce...
1649,291394_5.jpg,7,/data/AlgProj/tct_yaoms/data/tct_0702_preproce...
2088,299223_0.jpg,3,/data/AlgProj/tct_yaoms/data/tct_0702_preproce...
3367,291394_48.jpg,7,/data/AlgProj/tct_yaoms/data/tct_0702_preproce...
3640,281735_.jpg,1,/data/AlgProj/tct_yaoms/data/tct_0702_preproce...

In [ ]:
#train test dataset split
#train val transforms definition

def train_test_split(test_size, shuffle=True):
    if shuffle:
        df.sample(frac=1).reset_index(drop=True)

In [6]:
class TCT_Dataset(Dataset):
    def __init__(self, ):
        pass
    
    def __len__(self):
        pass
    
    def __getitem__(self):
        pass